To download latest version of python
https://www.python.org/downloads/

Anaconda navigator download to use jupyter notebooks
https://www.anaconda.com/

Required libraries for this project - matplotlib, sklearn, os, collections, cv2, numpy, pandas
Source to install - 
https://pypi.org/
https://anaconda.org/

Images can be found at google, can be used any